Algora/
build/
deps/escape/
deps/oaqc/
deps/AlgoraCore/
deps/AlgoraDyn/
.reference-deps/
.vscode
experiments/data
experiments/*/results*/*
experiments/*/plots*/*
compilcompile_commands
*.pdf
experiments/*/ref*/*
*.aux
*.log
*.fls
**__pycache__**
